@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Author: Tom Romano</p>
<p>Last Update: 12/4/2024 10:08 AM</p>
<p>This is the third test line</p>
<p>this is the forth test line</p>

